'atom-text-editor.vim-mode.command-mode':
  ']':          'goto-scope:next'
  '[':          'goto-scope:prev'
  'ctrl-cmd-]': 'goto-scope:repeat-next',
  'ctrl-cmd-[': 'goto-scope:repeat-prev',

'atom-text-editor.vim-mode.command-mode.goto-scope':
  's': 'goto-scope:goto-string',
  '\'': 'goto-scope:goto-string',
  "v":  'goto-scope:goto-variable',
  "f":  'goto-scope:goto-function',
